.container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  width: 100%;
  max-width: 72rem;
  padding: 0 1rem;
  margin: 0rem auto 0rem;
  flex: 1 0 auto;
}

.main.postPage {
  margin-top: 0;
  max-width: none;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* Add this to ensure proper alignment */
}

.postPage {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.postPage.noToc {
  justify-content: center;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.headerImage {
  width: 4rem;
  height: 4rem;
}

.headerHomeImage {
  width: 8rem;
  height: 8rem;
}

.backToHome {
  margin: 2rem auto;
  width: fit-content;
}