.toc {
    position: fixed;
    width: 250px;
    background-color: var(--background-color);
    border: 2px solid var(--border-color);
    padding: 1rem;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

@media (min-width: 1200px) {
    .toc {
        left: calc(50% - 770px);
        top: 100px;
        max-height: calc(100vh - 120px);
        overflow-y: auto;
        margin-left: 2rem;
    }
}

.toc h2 {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 0 0 1rem 0;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid var(--primary-color);
    color: var(--text-color);
    transition: border-bottom-color 0.3s ease, color 0.3s ease;
}

.toc ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.toc li {
    margin-bottom: 0.3rem;
    font-size: 0.9rem;
}

.toc a {
    color: var(--text-color);
    text-decoration: none;
    border-left: 2px solid var(--primary-color);
    padding-left: 0.5rem;
    transition: all 0.2s;
    display: block;
    border-bottom: none;
    /* Overrides global 'a' styles if any */
}

.toc a:hover {
    background-color: var(--primary-color);
    color: var(--link-hover-text);
    /* Use variable for text color on hover */
    border-left: 4px solid var(--primary-color);
}

@media (max-width: 1200px) {
    .toc {
        position: static;
        width: 100%;
        margin: 1rem 0;
    }
}