html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

article {
  width: calc(100% - 1.5rem);
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-right: 0.5rem;
}

footer {
  margin-top: auto;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#__next {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}